<div class="message-body">
    {{message}}
    <div class="card stack-trace">
        <header class="card-header">
            <p class="card-header-title is-marginless">
                Stack trace
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                {{stack}}
            </div>
        </div>
    </div>
</div>
